* {
	margin: 0;
	box-sizing: border-box;
}
.xo {
	display: inline-block;
	width: 600px;
	height: 600px;
}
.xo > div {
	width: 33.33%;
	height: 0;
	line-height: 0;
	padding: 16.6666% 0;
	font-size: 38px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid red;
	background: yellow;
	font-family: sans-serif;
}